@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 84 71% 95%;
  --foreground: 222 47% 11%;

  --primary: 134 68% 37%;
  --primary-dark: 133 95% 9%;
  --primary-foreground: 0 0% 100%;

  --light-green: 84 71% 95%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --border: 214.3 31.8% 91.4%;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
